
.main{
     width: 100%;    
     height: 80%;
     padding-bottom: 80px;
}
.container {
    width: 100%;    
    position: absolute;
    padding-bottom: 20%;
    left: 50%;
    margin-top: 0%;
    transform: translate(-50%); 
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: -1;
    
}

.profile-header{
    width: 100%;    
    position: fixed;
    top: 7%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    z-index: 998;

}

.image-header-profile {
    width: 70px;               
    height: auto;              
    object-fit: cover;        
}
