.post {
  width: 100%;             
  max-width: 600px; 
  height: fit-content;             
  max-height: 600px;           
  margin: 0 auto;            
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: right;
  color: black;
  padding: 4%;
  gap: 8px;
}

.post-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}



.post-image {
  width: 100%;               /* תמונה מתפרסת על רוחב הפוסט */
  height: auto;              /* שמירה על פרופורציה */
  object-fit: cover;         /* תמונה מתאימה למיכל */
}

.post-actions {
  display: flex;
  padding: 0 4%;
  gap: 10px;
  align-items: center;
}

.like-button {
  background: none;
  border: 0;
  cursor: pointer;
}

.like-components {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 3px;
}

.like-count {
  height: 31px;
  white-space: nowrap; 
  
}
.post-date {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 12px;
  color: #414141;
}
.outer-date{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 100%;
}