.topbarMain{
  position: fixed;
  top: 0%;
  width: 100%;
  height: 8%;
  background: #fff;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.homPage-link{
    color: black;
    left: 0%;
}   
.middle-text{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-family:Georgia, 'Times New Roman', Times, serif;
}